// COLORS
$color-light-cyan: #4dc9b6e7;
$color-cyan: #3fc7b3;
$color-dark-cyan: #1f8f7e;
$color-light-blue: #6173ff;
$color-dark-blue: #4d61f8;

$color-dark-grey: #4c545c;
$color-light-grey: #9eabb2;
$color-white: #ffffff;
